.filters{
  width: 150px;
  height: 150px;
  color: aliceblue;
  
  

}
.grid-layout{
  display: grid;
  grid-template-columns: 40% 60% ;
  margin: 0;
  justify-items: center;
}
#genre {
  width: auto;
  padding: 0 15px 0 15px;
  font-size: 20px;
  font-family: ligth;
  border-radius: 10px;
  opacity: 0.8;
  }
  
